@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
	font-family: 'Quicksand';

}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Card Box */

input{
    margin-top: 5px;
    width: 20rem;

    border-radius: 25px;
}

.button-control button{
    border: none;
    outline: none;
    border-radius: 20px;

    color: white;
    background-color: #6247AA;

    padding: 5px 8.5rem;
}

.more-control a{
    color: black;
    text-decoration: none;
}

/* ========== */

/* Accessories */

.rect-1{
    z-index: -1;

    top: -80vh;
    width: 35rem;
    height: 150vh;

    background-color: #102B3F;
    /* border: 1px solid black; */
}

/* ========== */