@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
	font-family: 'Quicksand';
}

/* Navbar */

header .navbar-nav a {
	font-family: "Quicksand";
	margin: 0px 20px;
}

header .login {
	color: black;
	background-color: #eeeeee;

	padding: 5px 25px;
	border-radius: 10px;
}

/* ================= */

/* Slider */

.slider img {
	width: 1250px;
	height: 250px;

	border-radius: 25px;
}

/* ================= */

/* Job Cluster */

.JobsCluster a {
	color: black;
	text-decoration: none;
}

.JobsCluster .card .position {
	color: #6247AA!important;
}
/* ================= */